# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# savefiles
*.t7
*.log
models/


Your response has been recorded.
=====The PRL data:=====
Please click here to download the data as made available by the PRL
paper :
http://download.fz-juelich.de/ibg-2/Plant_Phenotyping_Datasets.zip
=====Evaluation tools:=====
Additional tools to evaluate (and organize) the data are available here:
http://www.plant-phenotyping.org/datasets-download
=====CVPPP datasets=====
Furthermore, due to several requests, we provide here all the *training*
datasets that supported the CVPPP (LSC or LCC) challenges:
CVPPP 2014:
http://download.fz-juelich.de/ibg-2/CVPPP2014_LSC_training_data.zip
CVPPP 2015:
http://download.fz-juelich.de/ibg-2/CVPPP2015_LCC_training_data.zip
http://download.fz-juelich.de/ibg-2/CVPPP2015_LSC_training_data.zip
CVPPP 2017 ***:
http://download.fz-juelich.de/ibg-2/CVPPP2017_LCC_training.zip
http://download.fz-juelich.de/ibg-2/CVPPP2017_LSC_training.zip
*** The 2017 version includes also datasets from another lab. So if
you use the A4 dataset ensure to cite the relevant work as well. See
here for details: https://www.plant-phenotyping.org/CVPPP2017-challenge
Testing sets are not publicly available (they are blind) but if you want
to test on the datasets for comparisons, please email (Dr Tsaftaris,
S.Tsaftaris@ed.ac.uk ; Dr. Scharr, h.scharr@fz-juelich.de ) for advice.
